{{#each rssitems}}
<item>
	<title>{{this.title}}</title>
    <link>{{this.link}}</link>
    <description>{{this.description}}</description>
    <guid isPermaLink="false">{{this.guid}}</guid>
</item>
{{/each}}
